[Desktop Entry]
Name=VoiceBridge Server
Exec=/usr/bin/VoiceBridgeServer
Icon=voicebridge.png
Type=Application
Categories=AudioVideo;
Terminal=false
StartupNotify=true
Comment=Voice bridge server