[Desktop Entry]
Name=VoiceBridge Server
Exec=VoiceBridgeServer
Icon=voicebridge.png
Type=Application
Categories=AudioVideo;Network;
Terminal=false
StartupNotify=true